{{#each model as |todo index|}}
	<div class="w-full flex content-center mb-3">

		<div class="w-4/5 bg-white border-l-8 border-hatch-secondary p-2 shadow flex-auto mr-2" role="alert">
			{{textarea value=todo.description description=todo.description class="w-full h-full font-bold mb-1 text-hatch-base"}}
			<p>{{todo.id}}</p>
		</div>

			<div class="flex-auto flex flex-col justify-between">

				<div class="w-4 text-center flex items-center">
				<button class="bg-green-600 hover:bg-green-800 text-white p-1 font-bold rounded-full" {{action 'editTodo'}}>
	  			UPDATE
				</button>
			</div>

			<div class="w-4 text-center flex items-center">
				<button class="bg-red-600 hover:bg-red-800 text-white p-1 font-bold rounded-full"{{action 'deleteTodo'}}>
	  			DELETE
				</button>
			</div>	

		</div>
		

	</div>
{{/each}}
	
	
