{{#each model as |todo index|}}
	<div class="six-point max-w-sm mx-auto bg-white h-24 mb-3 shadow-inner">
	  <p class="text-xl">Title: {{todo.title}} </p>
	  <p class="text-xl">Description: {{todo.description}} </p>
	</div>
{{/each}}
