$base-color: #DAD2D8;

// Logo SVG
.cls-1{
	fill:#fb8a8a;
}

.cls-2{
	fill:#f85959;
}

.cls-3{
	font-size:16px;
	fill:#f95959;
	font-family:Raleway-ExtraBold, Raleway;
	font-weight:800;
	letter-spacing:0.1em;
}
.cls-4{
	letter-spacing:0.04em;
}

// Todos Background Color
.todo-bg {
	background-color: lighten( $base-color, 8% )
}

//UL LI Styles
#todo-list{
	list-style-type: none;
}

//Todos
#todo-title {
	text-decoration: underline;
	text-decoration-color: black;
}

//SVGs
.checkmark path:hover{
	fill: #5aaa80;
}

.destroy path:hover{
	fill: #f42c04;
}

.checkmark:hover{
	height: 80px;
	width: 80px;
}
.destroy:hover{
	height: 70px;
	width: 70px;
}

@import 'tailwind';

