<div>
	<nav class="flex items-center justify-between flex-wrap bg-nav-back p-6 shadow-md">

		<div class="flex-1">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.81 89.97" class="fill-current h-12 w-12 mr-2" width="46" height="46">
				<g id="Layer_2" data-name="Layer 2">
					<g id="Layer_2-2" data-name="Layer 2">
						<polygon class="cls-1" points="63.92 36.21 32.78 18.1 32.78 28.49 63.92 46.57 63.92 36.21"/>
						<polygon class="cls-2" points="32.78 54.31 63.92 36.21 63.92 46.6 32.78 64.67 32.78 54.31"/>
						<polygon class="cls-1" points="32.84 36.21 1.7 18.1 1.7 28.49 32.84 46.57 32.84 36.21"/>
						<polygon class="cls-2" points="1.64 18.1 32.78 0 32.78 10.39 1.64 28.47 1.64 18.1"/>
						<polygon class="cls-1" points="63.92 18.1 32.78 0 32.78 10.39 63.92 28.47 63.92 18.1"/>
						<polygon class="cls-2" points="32.78 36.21 63.92 18.1 63.92 28.49 32.78 46.57 32.78 36.21"/>
						<polygon class="cls-1" points="32.84 54.31 1.7 36.21 1.7 46.6 32.84 64.67 32.84 54.31"/>
						<polygon class="cls-2" points="1.64 36.21 32.78 18.1 32.78 28.49 1.64 46.57 1.64 36.21"/>
						<text class="cls-3" transform="translate(0 86.28) scale(1.07 1)">
							H
							<tspan class="cls-4" x="13.55" y="0">A</tspan>
							<tspan x="24.9" y="0">TCH</tspan>
						</text>
					</g>
				</g>
			</svg>
		</div>
		
	

		<div class="w-full block flex-grow-1 lg:flex lg:items-center lg:w-auto ">
    	<div class="text-xl">
	    	<span class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-2">Docs</span>
	    	<span class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-2">Github</span>
	    	<span class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-2">Blog</span>
	   	</div>
    </div>

	</nav>

	<div class="todo-bg shadow-md rounded px-8 pt-6 pb-8 mt-4 max-w-md mx-auto">
		<h1 class="text-center mb-3 text-myxl">Todos</h1>
		
	</div>
</div>


	{{outlet}}


