<div class="w-full">
	<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
	
	<div class="mb-4">
		<label class="block text-gray-700 text-sm font-bold mb-2">Title:</label>
		{{input value=title 
			class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shaow-outline" 
			type="text" 
			placeholder="add a title"
		}}
	</div>

	<div class="mb-16">
		<label class="block text-gray-700 text-sm font-bold mb-2">Description</label>
		{{input value=description
			class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shaow-outline" 
			type="text" 
			placeholder="what is your description"
		}}
	</div>
	
	<div class="flex justify-center">
		<button 
			class="bg-gray-200 hover:bg-hatch-secondary text-gray-800 font-semibold py-2 px-4 border-gray-400 rounded shadow w-3/4" 
			{{action 'handleSubmit'}}>
	  	Create
		</button>
	</div>
	
</form>	
</div>
