{{#each model as |todo index|}}
	<div class="w-full flex content-center mb-3">

		<div class="w-full bg-white border-l-8 border-hatch-secondary p-4 shadow" role="alert">
			<p class="font-bold mb-1 text-hatch-base" id="todo-title">{{todo.title}}</p>
			<p>{{todo.description}}</p>
		</div>
	</div>
{{/each}}